body {
  background-color: rgb(51, 51, 51);
  color:white
}

#root {
}

.wrapper {
  overflow-y: hidden !important;
  /* min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden; */
}

.cover {
  object-fit: cover;
}

.h500px {
  max-height: 100vh !important;
  overflow-y: auto  ;
}

.videoWrapper{
  height: 93vh;
  width: calc(93vh * 9 / 17);
  position: relative;
}

.videoClass {
  width: 100%;
  height: 100%;
  position: absolute;
}